/* styles */

.heroPrimary {
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.heroSecondary {
  font-family: sans-serif;
  font-weight: 18px;
  color: #E5E7EB;
}

.button {
  font-family: sans-serif;
  color: #3882F6;
}

.infoHeader {
  font-family: sans-serif;
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
}

.quoteBack {
  background: #E5E7EB;
}

.quoteText {
  font-family: sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

/* the navigation bar header */

.header  {
  font-family: sans-serif;
  background: #1F2937;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  padding: 4px 64px; /* remove padding? */
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;

  gap: 8px; /* key */
  margin-right: 64px; /* key */
  padding: 0; /* key */
}

a {
  font-size: 14px;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  color: #E5E7EB
}


/* the opening canvas */

.canvas {
  display: flex;
  background: #1F2937;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}

img {
  width: 550px;
  height: auto;
}

